@import "compass/css3";

.trailer-container {
    border-left: 1px solid #313131 !important;
    @include background-image(linear-gradient(#313131, #232323));
    @include box-shadow(rgba(black, 0.75) 0 0 0);

.core-row-image {
    height: 190px;
    width: 150px;
    background-repeat: no-repeat;
    border: 5px solid #1b1b1b !important;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;

    }
}

.preview-button {
    background-image: sc_static('/controls.png');
    background-position: 0px -3px;
    position: absolute;
    height: 16px;
    width: 16px;
    bottom: 42px;
    left: 22px;
}
.info-button {
    background-image: sc_static('/controls.png');
    background-position: 0px 19px;
    position: absolute;
    height: 16px;
    width: 16px;
    bottom: 42px;
    right: 22px;
}

.movie-player {
    background-color: #000000;
    border: 15px solid!important;
    border-radius: 15px!important;
    border-color: #111!important;

    .panel-background {
        visibility: hidden!important;
    }
}

.base-font {
    color: white;
}
.base-background {
    border-bottom:  1px solid #444 !important;
    @include background-image(linear-gradient(#181818, #1a1919, #1a1919));
}
.title-view {
    border-right:  2px solid #EEEEEE !important;
    @include background-image(linear-gradient(#1a1919, #1a1919, #1a1919));
}